﻿@model BookingMVC.Models.UserModel
@{
    ViewBag.Title = "Login";
}

<h1 style="text-align:center"><b>Hello</b></h1>
@using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
{

    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <div class="form-group" style="background-color:rosybrown; text-align:center">
            <br />
            <h3><b>Login</b></h3>
            <br />

            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            <br />

            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            @ViewBag.Message
            <br /><br />


            <input type="submit" value="Login" style="background-color:azure; border-radius:8px; font-size:18px; border:2px solid #1494b1" />

            <br /><br />

        </div>




    </fieldset>
}
