﻿@using BookingMVC.Models
@model UserModel
@{
    if (ViewBag.EditMode == true)
    {
        ViewBag.Title = "Edit";
        <h2>Edit</h2>
    }
    else
    {
        ViewBag.Title = "Create";
        <h2>Create</h2>

    }
}
<br />
<form id="form1" method="post" style="text-align:center">
    <div>
        @Html.LabelFor(model => model.UserName)
        @Html.EditorFor(model => model.UserName)
    </div><br />
    <div>
        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
    </div>
    <div>
        <br />
        @Html.LabelFor(model => model.Type)
        @Html.EnumDropDownListFor(model => model.Type, null, new { id = "DropDownList" })
    </div>
    <br />
    <span id="errorMessage" class="text-danger"></span>
    <span id="successMessage" class="text-success"></span>

    <br />
    <div><input type="button" value="Submit" onclick="UserModel()" /></div>
    <input type="hidden" id="id" name="id" value="@Model.Id" style="display:none;">
</form>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
    var editMode = "@ViewBag.EditMode";
    function UserModel() {

        var UserModel = {};
        UserModel.username = $("#UserName").val();
        UserModel.password = $("#Password").val();
        UserModel.type = $("#DropDownList").val();
        UserModel.id = $("#id").val();


        if (UserModel.username == '' || UserModel.password == '' || UserModel.type == '') {
            $("#errorMessage").html("All Fields are required")
        }
        else
        {
            $("#errorMessage").html('');
            if (editMode.toLocaleLowerCase() == "true")
            {
                url = '../../api/UserAPI/EditUser';
                method = 'PUT';
            }
            else
            {
                url = '../api/UserAPI/CreateUser';
                method = 'POST';
            }
            $.ajax({
                url: url,
                method: method,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(UserModel),
                    success: function (data) {
                        $("#successMessage").fadeIn().html(data);
                        setTimeout(function () {
                            $('#successMessage').fadeOut("Slow");
                        }, 2000);
                    },
                    error: function (msg) {
                        $("#errorMessage").fadeIn().html(msg.responseText);
                    }
                })
             }
        }
</script>

