﻿@using BookingMVC.Models
@model IEnumerable<UserModel>
@{
    ViewBag.Title = "Index";
}

<h2>List of Users</h2>
<fieldset>
    <legend style="text-align:center"><i>Units Available</i></legend>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table class="table" style="background-color:#b2dbcb">
        <tr style="background-color:#2ea764">
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

        <tr>
            <td>@Html.DisplayFor(model => item.UserName) </td>
            <td>@Html.DisplayFor(model => item.Type)</td>

            <td> <input type="button" value="Edit" onclick="location.href= '@Url.Action("Edit", "User", new { userId = item.Id })'" style="border-color:black; border-width:1px" /></td>
            <td> <input type="button" value="Delete" onclick="location.href= '@Url.RouteUrl("DefaultApi", new {httproute="", controller = "UserAPI", Action = "Delete", userId = item.Id} )'" style="border-color:black; border-width:1px" /></td>
           
        </tr>
        }

    </table>
    <input type="button" value="Add User" onclick="location.href='@Url.Action("Create", "User")'" />
</fieldset>

