﻿@using BookingMVC.Models
@model IEnumerable<HistoryRoomBookingModel>
@{
    ViewBag.Title = "Show";
}

<h2>Units you have booked</h2>
<br />
<fieldset>
    @Html.AntiForgeryToken()

    <table class="table" style="background-color:#b2dbcb">
        <tr>
            <th style="background-color:#2ea764">@Html.DisplayNameFor(model => model.DateFrom)</th>
            <th style="background-color:#2ea764">@Html.DisplayNameFor(model => model.DateTo)</th>
            <th style="background-color:#2ea764">@Html.DisplayNameFor(model => model.RoomNr)</th>
            <th style="background-color:#2ea764">@Html.DisplayNameFor(model => model.Price)</th>
            <th style="background-color:#2ea764">@Html.DisplayNameFor(model => model.Name)</th>
            <th style="background-color:#2ea764">@Html.DisplayNameFor(model => model.Address)</th>
            <th style="background-color:#2ea764"></th>
        </tr>
        @using (Html.BeginForm("Show", "History", FormMethod.Post))
        {
        }
        @ViewBag.Message
        @foreach (var item in Model)
        {
        <tr>
            <td><b>@Html.DisplayFor(model => item.DateFrom)</b></td>
            <td><b>@Html.DisplayFor(model => item.DateTo)</b></td>
            <td>@Html.DisplayFor(model => item.RoomNr)</td>
            <td>@Html.DisplayFor(model => item.Price)</td>
            <td>@Html.DisplayFor(model => item.Name)</td>
            <td>@Html.DisplayFor(model => item.Address)</td>
            @if (item.HasRating)
            {
            <td><input type="button" value="Edit Review" onclick="location.href='@Url.Action("EditReview", "Unit", new { id = item.BookingId})'" /></td>
            }
            else
            {
            <td><input type="button" value="Leave Review" onclick="location.href='@Url.Action("AddReview", "Unit", new { bookingId = item.BookingId })'"  style="background-color:#ed9a60"/></td>
            }
        </tr>


        }

    </table>


</fieldset>
