﻿
@{
    ViewBag.Title = "AddPhoto";
}

<h2>Add photo</h2>
@using (Html.BeginForm("AddPhoto", "Unit", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group" style="text-align:center; background-color:azure">
            <br />
            <input type="file" name="files" multiple ="multiple" />

            <input type="hidden" name="unitId" value="@ViewBag.UnitId" />
            @ViewBag.Message
            @ViewBag.ErrorMessage
            <br />
            <input type="submit" value="Upload" style="background-color:azure; border-radius:8px; font-size:18px; border:1px solid #e875cd " />
        </div>
    </fieldset>
}
