﻿@model BookingMVC.Models.RoomModel
@{
    ViewBag.Title = "Add a Room";
}

<h2>AddRoom</h2>
@using (Html.BeginForm("AddRoom", "Unit", FormMethod.Post))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group" style="text-align:center; background-color:azure">
            <br />
            @Html.LabelFor(model => model.RoomNr, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.RoomNr, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RoomNr, "", new { @class = "text-danger" })

            <br />
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

            <br />
            @Html.LabelFor(model => model.NrPersons, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.NrPersons, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NrPersons, "", new { @class = "text-danger" })

            <br />
            @Html.LabelFor(model => model.Details, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Details, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })

            <br />
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Price, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

            <br />
            @ViewBag.ErrorMessage
            @ViewBag.Message
            @ViewBag.MessageError
            <input type="hidden" name="unitId" value="@ViewBag.UnitId" />
            <br />
            <input type="submit" value="Create" style="background-color:azure; border-radius:8px; font-size:18px; border:1px solid #e875cd " />
        </div>
</fieldset>
}