﻿@model BookingMVC.Models.RatingModel
@{
    ViewBag.Title = "Add a review";
}


@using (Html.BeginForm())
{

    <h2 style="text-align:center">Leave us a review!</h2>
    <fieldset>
        @Html.AntiForgeryToken()
        <br /><br />
        <div class="form-group" style="background-color:rgba(255,99,71,0.2)">
            <br /><br /><br />
            @Html.LabelFor(model => model.Value, new { @class = "control-label col-md-1" })
            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { min = 1, max = ViewBag.RatingLimit } })
            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })

            <br /> <br /><br />
            @Html.LabelFor(model => model.Details, new { @class = "control-label col-md-1" })
            @Html.TextBoxFor(model => model.Details, htmlAttributes: new { @class = "form-control size:50" })
            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            <br /><br /><br />
            @ViewBag.Message
            @ViewBag.Error

            <input type="submit" value="Submit" style="background-color:azure; border-radius:8px; font-size:18px; border:1px solid #e875cd" />

        </div>

        @if (ViewBag.EditMode != null && ViewBag.EditMode == true)
        {
            <input type="hidden" name="bookingId" value="@Model.BookingId" />
            <input type="hidden" name="userId" value="@Model.UserId" />
            <input type="hidden" name="id" value="@Model.Id" />

        }
        else
        {
            <input type="hidden" name="bookingId" value="@ViewBag.BookingId" />
        }



    </fieldset>
}

