﻿@model BookingMVC.Models.UnitModel
@{
    ViewBag.Title = "Create";
}

<h2>Add a unit</h2>

@using (Html.BeginForm("Create", "Unit", FormMethod.Post))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group" style="text-align:center; background-color:azure">
            <br />
            @Html.LabelFor(model => model.Unit.Name, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Unit.Name, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Unit.Name, "", new { @class = "text-danger" })

            <br />
            @Html.LabelFor(model => model.Unit.Type, new { @class = "control-label col-md-2" })
            @Html.EnumDropDownListFor(model => model.Unit.Type, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Unit.Type, "", new { @class = "text-danger" })

            <br />
            @Html.LabelFor(model => model.Unit.Stars, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Unit.Stars, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Unit.Stars, "", new { @class = "text-danger" })

            <br />
            @Html.LabelFor(model => model.Unit.Address, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Unit.Address, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Unit.Address, "", new { @class = "text-danger" })

            <br />
            @Html.LabelFor(model => model.Unit.Contact, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Unit.Contact, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Unit.Contact, "", new { @class = "text-danger" })

            <br />
            @Html.LabelFor(model => model.Unit.Description, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Unit.Description, htmlAttributes: new { @class = "form-control" })

            <br />
            @ViewBag.Message
            @ViewBag.ErrorMessage
            @ViewBag.MessageError

            <br />
            <input type="submit" value="Create" style="background-color:azure; border-radius:8px; font-size:18px; border:1px solid #e875cd " />
            
            <input type="button" value="Back to Units" onclick="location.href= '@Url.Action("Index","Home")'" style="background-color:azure; border-radius:8px; font-size:18px; border:1px solid #e875cd " />
        </div>
    </fieldset>
}

