﻿@using BookingMVC.Models
@model ReviewsHistoryModel
@{
    ViewBag.Title = "Your Reviews";
}

<h2> Your reviews</h2>
<br />
<fieldset>
    @Html.AntiForgeryToken()

    <table class="table" style="background-color:#b2dbcb">
        <tr>
            <th style="background-color:#2ea764"> @Html.DisplayNameFor(model => model.Ratings.First().Date)</th>
            <th style="background-color:#2ea764"> @Html.DisplayNameFor(model => model.Ratings.First().Details)</th>
            <th style="background-color:#2ea764"> @Html.DisplayNameFor(model => model.Ratings.First().Value)</th>
            <th style="background-color:#2ea764"> @Html.DisplayNameFor(model => model.Ratings.First().Unit)</th>
            <th style="background-color:#2ea764"></th>
            <th style="background-color:#2ea764"></th>
        </tr>
        @ViewBag.Message
        @foreach (var item in Model.Ratings)
        {
            <tr>
                <td><b>@Html.DisplayFor(model => item.Date)</b></td>
                <td>@Html.DisplayFor(model => item.Details)</td>
                <td>@Html.DisplayFor(model => item.Value)</td>
                <td>@Html.DisplayFor(model => item.Unit)</td>
                @using (Html.BeginForm("DeleteReview", "Unit", FormMethod.Post))
                {

                <td>
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="hidden" name="userId" value="@item.UserId" />
                    <input type="submit" value="Delete" />
                </td>
                }
                <td><input type="button" value="Edit" onclick="location.href='@Url.Action("EditReview", "Unit", new { id = item.Id })'" /></td>
            </tr>


        }


    </table>
</fieldset>


