﻿@model BookingMVC.Models.RoomBookingModel
@{
    ViewBag.Title = "Book";
}

<h2 style="text-align:center">Book this room</h2>
@using (Html.BeginForm("Book", "Room", FormMethod.Post))
{

<fieldset>
    <legend style="text-align:center"><i></i></legend>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }
        <div class="form-group" style="background-color:rgba(255,99,71,0.2)">

            <br /><br />
            @Html.LabelFor(model => model.DateFrom,"Check-in:", new { @class = "control-label col-sm-2" })
            @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "datepicker" } })
            @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })

            <br /> <br />
            @Html.LabelFor(model => model.DateTo,"Check-out:", new { @class = "control-label col-sm-2" })
            @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "datepicker" } })
            @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })

            <br /><br />
            @Html.LabelFor(model => model.MealType, "Meal-type:", new { @class = "control-label col-sm-2" })
            @Html.EnumDropDownListFor(model => model.MealType, "Select a meal type", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MealType, "", new { @class = "text-danger" })
            <br /><br />
            @ViewBag.Success
            @ViewBag.ErrorMessage
            <input type="hidden" name="roomId" value="@ViewBag.RoomId" />
            <input type="submit" value="Book" style="background-color:azure; border-radius:8px; font-size:18px; border:1px solid #e875cd" />
        </div>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @section Scripts{
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script>
            $(function () {
                $(".datepicker").datepicker();
            });
        </script>
    }
</fieldset>
}
