﻿@using BookingMVC.Models
@using BookingMVC.Repositories
@model RoomIndexModel
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center"><i>Welcome</i></h2>
<br />
<fieldset>
    <legend style="text-align:center"><i>Pictures, @Model.UnitName</i></legend>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }
    @ViewBag.Message

    @*////////////Photos of Units////////////////*@
    @foreach (var item in Model.Photos)
    {
        var base64 = Convert.ToBase64String(item.Photo);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


        <img class="mySlides" src='@imgSrc' style="width:1000px; height:750px" />


    }
    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>

    <br /> <br /><br />

    <legend style="text-align:center"><i>Rooms Available, @Model.UnitName</i></legend>
    <br /><br />
    @using (Html.BeginForm("Index", "Room", FormMethod.Post))
    {
        <b>
            @{ if (ViewBag.DateFrom != null && ViewBag.DateTo != null)
                {
                    var dateFrom = (DateTime)ViewBag.DateFrom;
                    var dateTo = (DateTime)ViewBag.DateTo;

                    if (dateFrom != null && dateTo != null)
                    {
                        <b>Check-In:</b> @Html.TextBox("dateFrom", dateFrom.ToShortDateString(), new { @class = "datepicker" })
                        <b>Check-Out:</b> @Html.TextBox("dateTo", dateTo.ToShortDateString(), new { @class = "datepicker" })
                    }
                }
                else
                {
                    <b>Check-In:</b> @Html.TextBox("dateFrom", null, new { @class = "datepicker" })
                    <b>Check-Out:</b> @Html.TextBox("dateTo", null, new { @class = "datepicker" })
                }
            }
            <input type="hidden" name="Room.UnitId" value="@ViewBag.UnitId" />
            <input type="submit" name="submit" value="Search" />
        </b>
    }
    <br /><br />



    <table class="table" style="background-color:#b2dbcb">
        @{ var room = Model.Rooms.First();}
        <tr style="background-color:#2ea764">
            <th>@Html.DisplayNameFor(model => room.RoomNr)</th>
            <th>@Html.DisplayNameFor(model => room.Type)</th>
            <th>@Html.DisplayNameFor(model => room.NrPersons)</th>
            <th>@Html.DisplayNameFor(model => room.Details)</th>
            <th>@Html.DisplayNameFor(model => room.Price)</th>
            <th></th> <th></th> <th></th> <th></th>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        @ViewBag.Message
        @foreach (var item in Model.Rooms)
        {
            <tr>
                <td><b>@Html.DisplayFor(model => item.RoomNr)</b></td>
                <td> @Html.DisplayFor(model => item.Type)</td>
                <td>@Html.DisplayFor(model => item.NrPersons)</td>
                <td>@Html.DisplayFor(model => item.Details)</td>
                <td>@Html.DisplayFor(model => item.Price)</td>

                <td><input type="button" value="Book" onclick="location.href='@Url.Action("Book", "Room", new { roomId = item.Id })'" /></td>
                <td><input type="button" value="Show Pics" onclick="location.href='@Url.Action("Picture", "Room", new { subjectId = item.Id })'" /></td>

                @{ var user = (User)Session["User"];
                    if (user != null)
                    {
                        if (user.Type == BookingMVC.Common.UserType.RegularUser)
                        {
                            <td> <input type="button" value="Add Photos" onclick="location.href= '@Url.Action("AddPhoto", "Room", new { roomId = item.Id })'" border-color:black; border-width:1px" /> </td>
                        }
                        else if (user.Type == BookingMVC.Common.UserType.Administrator)
                        {
                            <td><input type="button" value="Edit Room" onclick="location.href='@Url.Action("Edit", "Room", new { roomId = item.Id })'" /></td>
                            <td> <input type="button" value="Add Photos" onclick="location.href= '@Url.Action("AddPhoto", "Room", new { roomId = item.Id })'" border-color:black; border-width:1px" /> </td>
                            using (Html.BeginForm("Delete", "Room", FormMethod.Post))
                            {
                                <td><input type="hidden" name="roomId" value="@item.Id" /></td>
                                <td><input type="hidden" name="unitId" value="@item.UnitId" /></td>
                                <td>
                                    <input type="submit" value="Delete Room" />
                                </td>

                            }

                        }
                    }

                }
            </tr>
        }

    </table>

    @*//////////////Reviews of Units////////////////*@

    <legend style="text-align:center"><i>Guest Reviews, @Model.UnitName</i></legend>
    <br />
    <h3><b>Ratings: @Model.Average </b></h3>
    <br /><br />
    @foreach (var item in Model.Ratings)
    {
        <h4><b> @Html.DisplayFor(model => item.UserName) </b></h4>
        <h6>Reviewed:   @Html.DisplayFor(model => item.Date)</h6>
        <h5><b>Details:</b>  @Html.DisplayFor(model => item.Details)</h5>
        <h5><b>Rating:</b><b>  @Html.DisplayFor(model => item.Value)</b> stars</h5>
        <br /><br /><br />
    }



    <input type="hidden" name="id" value="@ViewBag.UnitId" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @section Scripts{
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script>
            $(function () {
                $(".datepicker").datepicker().attr("autocomplete", "off");
            });
        </script>

        <script>
            var slideIndex = 0;
            showDivs(slideIndex);

            function plusDivs(n) {
                showDivs(slideIndex += n);
            }

            function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = x.length };
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex - 1].style.display = "block";
            }
        </script>
    }

</fieldset>
