﻿@using BookingMVC.Models
@model RoomPictureModel
@{
    ViewBag.Title = "Pictures";
}

<table>
    <tr>
        <th> @Html.DisplayNameFor(model => model.Photos), Room Number @Model.RoomNr</th>
    </tr>
    @foreach (var item in Model.Photos)
    {
        <tr>
           
            <td>
                @{
                    var base64 = Convert.ToBase64String(item.Photo);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                <img class="mySlides" src='@imgSrc' style="width:1000px; height:750px" />
                
            </td>
            
        </tr>
    }
</table>
<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>

<script>
    var slideIndex = 0;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>
