﻿@using BookingMVC.Repositories
@using BookingMVC.Common
@using BookingMVC.Models
@model UnitIndexModel
@{
    ViewBag.Title = "List of Units";
}

<br />
<h2><b> Welcome </b></h2>
<br />
@{
    var user = (User)Session["User"];
    if (user != null)
    {
        <input type="button" value="Feedback" onclick="location.href ='@Url.Action("Create", "Feedback", new { userId = user.Id, username = user.UserName })'" style="border-color:black; border-width:1px" />
        <input type="button" value="History" onclick="location.href ='@Url.Action("Show", "History", new { userId = user.Id })'" style="border-color:black; border-width:1px" />
        <input type="button" value="My Reviews" onclick="location.href= '@Url.Action("MyReviews", "Unit", new { userId = user.Id})'" style="border-color:black; border-width:1px" />
        if (user.Type == UserType.Administrator)

        {
            <input type="button" value="Users" onclick="location.href='@Url.Action("Index", "User")'" style="border-color:black; border-width:1px" />
            <input type="button" value="Logout" onclick="location.href= '@Url.Action("Logout", "Login")'" style="border-color:black; border-width:1px" />
            <input type="button" value="Feedback's List" onclick="location.href= '@Url.Action("Index", "Feedback")'" style="border-color:black; border-width:1px" />
        }
        else if (user.Type == UserType.RegularUser)
        {
            <input type="button" value="Logout" onclick="location.href= '@Url.Action("Logout", "Login")'" style="border-color:black; border-width:1px" />
            <input type="button" value="Add Unit" onclick="location.href='@Url.Action("Create", "Unit")'" style="background-color:orange; border-color:black; border-width:1px" />
            <input type="button" value="My Offers" onclick="location.href='@Url.Action("Offers", "Home", new { userId = user.Id })'" style="border-color:black; border-width:1px" />
        }
        else
        {

            <input type="button" value="Logout" onclick="location.href= '@Url.Action("Logout", "Login")'" style="border-color:black; border-width:1px" />

        }
    }

}
<fieldset>
    <legend style="text-align:center"><i>Units Available</i></legend>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }
    @ViewBag.Message

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "searchform" }))
    {
        <b>
            Search Option:
            @Html.TextBox("Search", null, new { @class = "Search" })

            Check-In: @Html.TextBox("dateFrom", null, new { @class = "datepicker" })
            Check-Out: @Html.TextBox("dateTo", null, new { @class = "datepicker" })

            <input type="submit" name="submit" value="Search" />
        </b>
    }
    <br />

    <table class="table" style="background-color:#b2dbcb">
        @{ var unit = Model.Units.First();}
        <tr style="background-color:#2ea764">
            <th>@Html.DisplayNameFor(model => unit.Unit.Name)</th>
            <th>@Html.DisplayNameFor(model => unit.Unit.Type)</th>
            <th>@Html.DisplayNameFor(model => unit.Unit.Stars)</th>
            <th>@Html.DisplayNameFor(model => unit.Unit.Description)</th>
            <th>@Html.DisplayNameFor(model => unit.Unit.Address)</th>
            <th>@Html.DisplayNameFor(model => unit.Unit.Contact)</th>
            <th>@Html.DisplayNameFor(model => unit.Rating)</th>
            <th></th> <th></th>
            <th></th>
            <th> </th>
            <th></th>
        </tr>

        @ViewBag.Message

        @foreach (var item in Model.Units)
        {

            <tr>
                <td><b>@Html.DisplayFor(model => item.Unit.Name)</b></td>
                <td>@Html.DisplayFor(model => item.Unit.Type) </td>
                <td>@Html.DisplayFor(model => item.Unit.Stars)</td>
                <td>@Html.DisplayFor(model => item.Unit.Description)</td>
                <td>@Html.DisplayFor(model => item.Unit.Address)</td>
                <td>@Html.DisplayFor(model => item.Unit.Contact)</td>
                <td>@Html.DisplayFor(model => item.Rating)</td>
                <td><input type="button" value="Show Details" onclick="location.href='@Url.Action("Index", "Room", new { id = item.Unit.Id })'" /></td>
                @{
                    if (user != null)
                    {
                        if (user.Type == UserType.RegularUser)
                        {
                            <td> <input type="button" value="AddRoom" onclick="location.href= '@Url.Action("AddRoom", "Unit", new { unitId = item.Unit.Id })'" style="background-color:orange; border-color:black; border-width:1px" /></td>

                        }
                        else if (user.Type == UserType.Administrator)
                        {
                            <td>
                                <input type="button" value="Edit Unit" onclick="location.href='@Url.Action("Edit","Unit", new { unitId = item.Unit.Id })'" style="border-color:black; border-width:1px" />
                            <td> <input type="button" value="Add Photos" onclick="location.href= '@Url.Action("AddPhoto", "Unit", new { unitId = item.Unit.Id })'" border-color:black; border-width:1px" /> </td>
                            </td>

                            using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                            {
                                <td><input type="hidden" name="unitId" value="@item.Unit.Id" /></td>
                                <td>
                                    <input type="submit" value="Delete Unit" style="border-color:black; border-width:1px" />
                                </td>
                            }
                        }
                    }

                }
            </tr>

        }

    </table>


    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @section Scripts{
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script>
            $(function () {
                $(".datepicker").datepicker().attr("autocomplete", "off");
            });
        </script>


        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
        <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
              rel="Stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#Search").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '../api/UnitAPI/GetUnits',
                            data: JSON.stringify(request.term),
                            dataType: "json",
                            type: "POST",
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return item.Name;
                                }))
                            },
                            error: function (response) {
                                alert(response.responseText);
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                        });
                    },
                })
            });
        </script>

        <script>

        </script>
    }
</fieldset>

