﻿@using BookingMVC.Repositories
@model IEnumerable<Unit>
@{
    ViewBag.Title = "Offers";
}

<h2>Your offers</h2>
<fieldset>
    @Html.AntiForgeryToken()

    <table class="table" style="background-color:#b2dbcb">
        <tr>
            <th style="background-color:#2ea764"> @Html.DisplayNameFor(model => model.Name)</th>
            <th style="background-color:#2ea764"> @Html.DisplayNameFor(model => model.Type)</th>
            <th style="background-color:#2ea764"> @Html.DisplayNameFor(model => model.Stars)</th>
            <th style="background-color:#2ea764"> @Html.DisplayNameFor(model => model.Description) </th>
            <th style="background-color:#2ea764">  @Html.DisplayNameFor(model => model.Address) </th>
            <th style="background-color:#2ea764"> @Html.DisplayNameFor(model => model.Contact)</th>
            <th style="background-color:#2ea764"></th>
            <th style="background-color:#2ea764"></th>
        </tr>
        @using (Html.BeginForm("Offers", "Home", FormMethod.Get))
        {
        }
        @ViewBag.Message
        @foreach (var item in Model)
        {
        <tr>
            <td><b>@Html.DisplayFor(model => item.Name)</b></td>
            <td>@Html.DisplayFor(model => item.Type)</td>
            <td>@Html.DisplayFor(model => item.Stars)</td>
            <td>@Html.DisplayFor(model => item.Description)</td>
            <td>@Html.DisplayFor(model => item.Address)</td>
            <td>@Html.DisplayFor(model => item.Contact)</td>
            <td><input type="button" value="See Rooms" onclick="location.href='@Url.Action("Index", "Room", new { id = item.Id })'" /></td>
            <td> <input type="button" value="Add Photos" onclick="location.href= '@Url.Action("AddPhoto", "Unit", new { unitId = item.Id })'" border-color:black; border-width:1px" /> </td>
        </tr>

        }

    </table>


</fieldset>

