﻿@using BookingMVC.Models
@model FeedbackModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form id="form1" method="post" style="text-align:center">
    <div>
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)
    </div><br />
    <br />
    <span id="errorMessage" class="text-danger"></span>
    <span id="successMessage" class="text-success"></span>

    <br />
    <div><input type="button" value="Submit" onclick="FeedbackModel()" /></div>
    @if (Model != null)
    {
        <div><input type="hidden" id="id" name="id" value="@Model.Id" /></div>
    }
    <div><input type="hidden" id="userId" name="userId" value="@ViewBag.UserId" /></div>
    <div><input type="hidden" id="userName" name="userName" value="@ViewBag.UserName" /></div>
</form>


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
    var editMode = "@ViewBag.EditMode";
    function FeedbackModel() {

        var FeedbackModel = {};
        FeedbackModel.userId = $('#userId').val();
        FeedbackModel.description = $("#Description").val();
        FeedbackModel.name = $('#userName').val();
        FeedbackModel.id = $('#id').val();

        if (editMode.toLocaleLowerCase() == "true")
        {
            url = "@Url.Action("Edit")";
            method = 'POST';
        }
        else
        {
            url = "@Url.Action("Create")";
            method = 'POST';
        }
        $.ajax({
            url: url,
            method: method,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(FeedbackModel),
            success: function (data) {
                $("#successMessage").fadeIn().html("Saved successfully");
            },
            error: function (msg) {
                $("#errorMessage").fadeIn().html("Saved");
            }
        })
    }
</script>