﻿@using BookingMVC.Models
@model IEnumerable<FeedbackModel>
@{
    ViewData["Title"] = "";
}

<h1>Index</h1>
<fieldset>

    @using (Html.BeginForm("Index", "Feedback", FormMethod.Post))
    {
        <b>
            Search Option:
            @Html.TextBox("Search", null, new { @class = "Search" })

            <input type="submit" name="submit" value="Search" />
        </b>
    }

    <legend style="text-align:center"><i>Feedbacks</i></legend>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table class="table" style="background-color:#b2dbcb">
        <tr style="background-color:#2ea764">
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.DateTime)</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(model => item.Name) </td>
                <td>@Html.DisplayFor(model => item.Description)</td>
                <td>@Html.DisplayFor(model => item.DateTime)</td>

                <td> <input type="button" value="Edit" onclick="location.href= '@Url.Action("Edit", "Feedback", new { id = item.Id })'" style="border-color:black; border-width:1px" /></td>
                <td> <input type="button" value="Delete" onclick="location.href= '@Url.Action("Delete", "Feedback", new { id = item.Id })'" style="border-color:black; border-width:1px" /></td>

            </tr>
        }

    </table>
</fieldset>

@section Scripts{

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#Search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '../Feedback/Search',
                        data: { search: request.term },
                        dataType: "json",
                        type: "GET",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item.Name;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                    });
                },
            })
        });
    </script>
}
